html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#paper {
  width: 100vw;
  height: 100vh;

  background-color: #FAF9F5;

  background-image:
  repeating-linear-gradient(
    0deg,
    transparent,
    transparent 29px,
    #999 30px
  ),
  repeating-linear-gradient(
    90deg,
    transparent,
    transparent 29px,
    #999 30px
  );
}
.overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-window {
  width: 520px;

  background: #FFFFFF;

  border: 3px solid #1e1e1e;

  box-shadow:
    4px 4px 0 #8c8c8c,
    8px 8px 0 #1e1e1e;
}

.title-bar {
  height: 34px;

  border-bottom: 3px solid #1e1e1e;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Press Start 2P", monospace;
  font-size: 14px;

  background: #e0dbd1;
}

.window-content {
  padding: 50px 30px;
  text-align: center;

  font-family: "Press Start 2P", monospace;
}

.window-content p {
  font-size: 14px;
  margin-bottom: 30px;
}

.cat-img {
  width: 90px;
  image-rendering: pixelated;
  margin: 20px auto;
  display: block;
  margin-bottom: 35px;
}

.ok-btn {
  width: 180px;
  height: 60px;

  font-family: "Press Start 2P", monospace;
  font-size: 24px;

  background:  #e0dbd1;;

  border: 3px solid #8f5c57;

  cursor: pointer;
}
.screen-cat {
  position: absolute;

  width: 90px;

  image-rendering: pixelated;

  filter: drop-shadow(0 0 15px white);
}
.cat-img,
.screen-cat {
  mix-blend-mode: multiply;
}
.cat-wrapper {
  position: absolute;

  left: 0;
  top: 0;

  background: white;

  padding: 10px;
}
.toolbar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3000;
}

.color-btn {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 12px;

  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.current-color {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.color-palette {
  position: absolute;
  bottom: 55px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: white;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.palette-color {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#drawingCanvas {
  position: fixed;
  inset: 0;

  width: 100vw;
  height: 100vh;

  cursor: crosshair;
}
.eraser-btn {
  width: 42px;
  height: 42px;

  margin-top: 10px;

  border: none;
  border-radius: 12px;

  background: white;

  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}